body {
    background-color: orange;
    padding: 20pt;
}

#wide {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: orange;
}

.slogan {
    position: absolute;
}

#bg {
    background-image: url("./tongyeong_banner.jpg");
    background-size: 800px;
    width: 100%;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: inline-block;
    margin-left: 20px;
}

ul {
    border-top: 1px solid black;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

ul {
    margin-top: 0px;
}

.container {
    text-align: center;
    border: 1px solid black;
    width: 800px;
    margin: center;

}

h3 {
    text-align: center;
    border-top: 1px solid black;
}

.slogan {
    text-align: left;
}

img {
    width: 110px;
    height: 100px;
}

.imfor {
    border-bottom: 1px solid black;
}

.Symbol {
    display: flex;
    text-align: left;
    margin-left: 70px;
}

.amg {
    flex-direction: column;
}

.sy {
    margin-left: 100px;
    width: 50px;
    height: 35px;
}

.ef {
    border-bottom: 1px solid black;
}

table {
    width: 100%;
    background-color: #f2f2f2;

    border-collapse: collapse;
}

.wide>.all {
    width: 100%;
    height: 100%;
}

b>p {
    background-color: #dddbdb;
    margin-bottom: 4px;
    margin-top: 5px;
    padding: 10px;
}
ul>li>a {
    text-decoration: none;
    color: darkcyan;
    font-weight: bold;
    font-size: larger;
}

p {
    font-weight: bold;
}

ul>li>a:hover {
    color: orange;
}

p>a {
    color: blue
}

p>a:hover {
    color: orange
}

b>p {
    font-size: larger;
}